{% extends 'base.html.twig' %}

{% block title %}Uitje{% endblock %}

{% block body %}

    <h1 class="display-3" style="text-align: center; margin: 3rem">Uitje</h1>

    <table class="table">
        <tbody class="thead-light">

            <tr>
                <th>Name</th>
                <td>{{ uitje.name }}</td>
            </tr>
            <tr>
                <th>Besch</th>
                <td>{{ uitje.besch }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ uitje.email }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ uitje.prijs }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button"  class="btn btn-info"><a  style="color: white"href="{{ path('uitje_index') }}">back to list</a></button>


{% endblock %}
